2_validation_DTD_XSD/Module.dtd

<!ELEMENT Filiere_Niveau (Module+)>
<!ATTLIST Filiere_Niveau nom_de_filiere (AP1|AP2|GINF1|GIL1|G3EI1|GSTR1|GSEA1|GINF2|GIL2|G3EI2|GSTR2|GSEA2|GINF3|GIL3|G3EI3|GSTR3|GSEA3) #REQUIRED> 
<!ELEMENT Module (nomModule, departement, sousModule+, coordinateur)>
<!ELEMENT nomModule (#PCDATA)>
<!ELEMENT departement (#PCDATA)>
<!ELEMENT coordinateur (#PCDATA)>
<!ELEMENT sousModule (#PCDATA)>


