2_validation_DTD_XSD/Student.dtd

<!ELEMENT Filiere_Niveau (Student+)>
<!ATTLIST Filiere_Niveau nom_de_filiere (AP1|AP2|GINF1|GIL1|G3EI1|GSTR1|GSEA1|GINF2|GIL2|G3EI2|GSTR2|GSEA2|GINF3|GIL3|G3EI3|GSTR3|GSEA3) #REQUIRED> 
<!ELEMENT Student (FirstName, LastName, BirthDate, Td?, PhoneNum+, Email+)>
<!ATTLIST Student CNE ID #REQUIRED>
<!ELEMENT FirstName (#PCDATA)>
<!ELEMENT LastName (#PCDATA)>
<!ELEMENT BirthDate (#PCDATA)>
<!ELEMENT Td (#PCDATA)>
<!ELEMENT PhoneNum (#PCDATA)>
<!ELEMENT Email ANY>
